@model IEnumerable<Item>

@{
    if (Model != null)
    {
        bool isAdmin = User.IsInRole("Admin");
        bool hasAccess = isAdmin || Model.ElementAt(0).Collection.User.UserName == User.Identity.Name;
        foreach (var item in Model)
        {
            <tr id="@item.ItemId">
                <td>@item.Name</td>
                @{
                    foreach (var field in item.AddItems)
                    {
                        if (field.AddCollectionFields.Type == CollectionFieldType.stringField ||
                        field.AddCollectionFields.Type == CollectionFieldType.dateField)
                        {
                            <td>@field.Value</td>
                        }

                    }

                    <td class="d-flex justify-content-around">
                        <a asp-controller="Item" class="text-success item-link" asp-action="ItemPage" asp-route-id="@item.ItemId">@Loc["Details"]</a>
                        @{
                            if (hasAccess)
                            {
                                <a asp-controller="Item" class="text-danger item-link" asp-action="Update" asp-route-id="@item.ItemId">@Loc["Update"]</a>
                                <a class="delete-link text-warning item-link" onclick="deleteItem('/Item/Delete/','#@item.ItemId','@item.ItemId')">@Loc["Delete"]</a>
                            }
                        }
                    </td>
                }
            </tr>
        }
    }
}
