@model IEnumerable<Item>

@{
    if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr class="info-table" id="@item.ItemId">
                <td>@item.Name</td>
                <td>@item.CreatedDate.ToLocalTime()</td>
                @{
                    List<string> tagNames = item.Tags.Select(t => t.TagName).ToList();
                }
                <td class="overflow-td"><div class="overflow-cell">@string.Join(" ",tagNames)</div></td>
                @{
                    foreach (var field in item.AddItems)
                    {
                        switch (field.AddCollectionFields.Type)
                        {
                            case CollectionFieldType.booleanField:
                                {
                                    if (field.Value == "on")
                                    {
                                        <td>@Loc["Yes Val"]</td>
                                    }
                                    else
                                    {
                                        <td>@Loc["No Val"]</td>
                                    }
                                    break;
                                }
                            case CollectionFieldType.multilineField:
                                {
                                    <td class="overflow-td"><div class="overflow-cell">@field.Value</div></td>
                                    break;
                                }
                            default:
                                {
                                    <td>@field.Value</td>
                                    break;
                                }
                        }
                    }
                }
            </tr>
        }
    }
}
