@model Item
@{
    ViewData["Title"] = Model.ItemId;
    ViewBag.JsPath = "js/itemCommentPage.min.js";
    ViewBag.CssPath = "css/itemCommentPage.min.css";
}
<div class="container">
    <div id="@Model.ItemId-page" class="container">
        <div class="row overflow-table">
            <input type="hidden" id="ItemIdentificator" value="@Model.ItemId">
            <table class="col-8 table-scroll table-collection-list table table-hover table-bordered text-center">
                <thead class="bg-info">
                    <tr>
                        <th>@Loc["Name"]</th>
                        <th>@Loc["Creation Date"]</th>
                        <th>@Loc["Tags"]</th>
                        @{
                            foreach (var field in Model.AddItems)
                            {
                                <th>@field.AddCollectionFields.Name</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody id="tableBody" class="table-scroll-body bg-light">
                    @await Html.PartialAsync("ItemsElement",new List<Item>(){Model})
                </tbody>
            </table>
        </div>
    </div>
    <div class="container comment-container">
        <div class="row">
            <div id="comment-wrapper" class="comment-wrapper col-12">
            </div>
        </div>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="comment-form col-12">                       
                        @await Html.PartialAsync("../Comment/CommentForm",new CommentViewModel())                       
                    </div>
                </div>
            }
        }
    </div>
</div>