@using System.Globalization
@model ItemViewModel
@{
    ViewBag.CssPath = "css/addItemForm.min.css";
    ViewBag.JsPath = "js/addItemForm.min.js";
}
<div class="add_item_cont container">
    <h1 class="item-header text-dark text-center">@Loc["Update Item"]</h1>
    <form method="POST" asp-controller="Item" asp-action="Update">
        <input type="hidden" id="@Model.CollectionId" value="@Model.CollectionId" asp-for="CollectionId" />
        <input type="hidden" id="@Model.ItemId" value="@Model.ItemId" asp-for="ItemId" />
        <div class="item_wrapper row">
            <div class="tag-wrapper col-md-6 col-12">
                <div class="form-group">
                    <div class="form-group">
                        <label class="text_label">@Loc["Tags"]</label>
                        <input type="button" id="btn-add-tag" class="btn-tag btn-primary" value="@Loc["Add Tag"]" />
                        <input type="button" id="btn-delete-tag" class="btn-tag btn-danger" value="@Loc["Delete Tag"]" />
                    </div>
                    <table class="table table-tag table-hover table-bordered">
                        <thead class="thead">
                            <tr><th>@Loc["Table_Name"]</th></tr>
                        </thead>
                        <tbody id="table-body" class="info-table">
                            <ul id="dropdown" class="dropdown">
                            </ul>

                            @{
                                for (int i = 0; i < Model.Tags.Count; i++)
                                {
                                    <tr class="t-row">
                                        <td class="tag-container">
                                            <input class="tag-input" asp-for="Tags[i].TagName" value="@Model.Tags[i].TagName" style="width:100%" type="text" autocomplete="off" />
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text_wrapper col-md-6 col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <label asp-for="Name" class="text_label">@Loc["Name"]</label>
                    <input type="text" asp-for="Name" value="@Model.Name" class="input_form" autocomplete="off">
                </div>
                <div class="form-group">
                    @{
                        var Fields = Model.AddItems;
                        for (int i = 0; i < Fields!.Count; i++)
                        {
                            var customField = Fields[i].CustomFieldViewModel;
                            <div class="form-group">
                                <input type="hidden" value="@customField.FieldId" name="AddItems[@i].CustomFieldViewModel.FieldId">
                                <input type="hidden" value="@customField.Name" name="AddItems[@i].CustomFieldViewModel.Name">
                                <input type="hidden" value="@customField.FieldType" name="AddItems[@i].CustomFieldViewModel.FieldType">
                                <input type="hidden" value="@Fields[i].AddItemFieldId" name="AddItems[@i].AddItemFieldId">
                                <p class="text_label">@customField.Name:</p>
                                @{

                                    switch (customField.FieldType)
                                    {
                                        case CollectionFieldType.booleanField:
                                            {
                                                <div class="form-group">
                                                    @{
                                                        if (Fields[i].Value == "Yes")
                                                        {
                                                            <input class="checkbox-field" value="@Fields[i].Value" name="AddItems[@i].Value" type="checkbox" checked>
                                                            <label class="text_label" for="checkbox-field">Yes</label>
                                                        }
                                                        else
                                                        {
                                                            <input class="checkbox-field" value="@Fields[i].Value" name="AddItems[@i].Value" type="checkbox">
                                                            <label class="text_label" for="checkbox-field">No</label>
                                                        }
                                                    }
                                                </div>
                                                break;
                                            }
                                        case CollectionFieldType.intField:
                                            <input class="num-field input_form form-control" value="@Fields[i].Value" name="AddItems[@i].Value" type="number" min="@int.MinValue" max="@int.MaxValue" autocomplete="off">
                                            break;

                                        case CollectionFieldType.dateField:
                                            <input class="date-field input_form form-control" value="@DateTime.ParseExact(Fields[i].Value,"dd.mm.yyyy",CultureInfo.InvariantCulture).ToString("yyyy-mm-dd")" name="AddItems[@i].Value" type="date" autocomplete="off" required>
                                            break;
                                        case CollectionFieldType.multilineField:
                                            <textarea asp-for="AddItems[i].Value" class="input_form" maxlength="300" autocomplete="off" required>@Fields[i].Value</textarea>
                                            break;
                                        default:
                                            <input asp-for="AddItems[i].Value" value="@Fields[i].Value" type="text" maxlength="15" class="input_form" autocomplete="off" required>
                                            break;
                                    }
                                }
                            </div>
                        }
                    }
                </div>
                <input type="submit" value="@Loc["Update"]" id="btn-send" name="submit" class="btn-primary button_send">
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script type="text/javascript">
        i = @Model.Tags.Count;
    </script>
}

