@model CollectionViewModel
@{
    ViewBag.CssPath = "css/addCollectionForm.min.css";
    ViewBag.JsPath = "js/addCollection.min.js";
}
<div class="add_collection_cont container">
    <div class="row" style="width:100%">
        <form method="POST" enctype="multipart/form-data" asp-action="Create">
            <div class="collection_wrapper">
                <div class="image_wrapper col-md-6 col-12">
                    <div class="input__wrapper">
                        <input name="formFile" type="file" id="input__file" class="input input__file" accept=".png, .jpg, .jpeg">
                        <label for="input__file" class="input__file-button">
                            <p class="input__file-icon-wrapper"><i class="fa fa-folder-o" aria-hidden="true"></i></p>
                            <span class="input__file-button-text">@Loc["Choose a file"]</span>
                        </label>
                    </div>
                    <img src="~/images/noPhoto.jpg" alt="image" id="image-photo" class="photo" />
                </div>
                <div class="text_wrapper col-md-6 col-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Name" class="text_label">@Loc["Collection Name"]</label>
                            <input type="text" asp-for="Name" class="input_form" autocomplete="none">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="text_label">@Loc["Description"]</label>
                            <textarea asp-for="Description" class="input_form" autocomplete="none"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Type" class="text_label">@Loc["Collection Type"]</label>
                            <select class="form-select" asp-for="Type" asp-items="Html.GetEnumSelectList<CollectionType>()"></select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group form-table">
                            <label class="text_label">@Loc["Custom Fields"]</label>
                            <div class="btns-fields">
                                <input type="button" id="btn-add-field" class="btn-app btn-primary" value="@Loc["Add Field"]" />
                                <input type="button" id="btn-remove-field" class="btn-app btn-danger" value="@Loc["Remove Field"]">
                            </div>
                            <div class="overflow-table overflow-collection-table">
                                <table class="table-scroll table table-hover table-bordered">
                                    <thead class="thead">
                                        <tr><th>@Loc["Type"]</th><th>@Loc["Name"]</th></tr>
                                    </thead>
                                    <tbody id="table-body" class="table-scroll-body bg-light info-table">
                                        @await Html.PartialAsync("AddNewField",0)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="@Loc["Send"]" id="btn-send" name="submit" class="btn-primary button_send">
                </div>
            </div>
        </form>
    </div>
</div>
