@model RegisterViewModel
<div class="container center-container col-md-12">
    <div class="form-container col-md-6">
        <p class="text-center info-account">@Loc["Register"]</p>
        <form method="POST" asp-action="Register">
            <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group form-elements">
                <label class="control-label labels-account" asp-for="Name">@Loc["Name"]</label>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-elements">
                <label class="control-label labels-account" asp-for="Email">@Loc["Email"]</label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-elements">
                <label class="control-label labels-account" asp-for="Password">@Loc["Password"]</label>
                <input type="password" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-elements">
                <label class="control-label labels-account" asp-for="ConfirmPassword">@Loc["Repeat"]</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="btn-group-justified form-elements">
                <input type="button" class="btn btn-success btn-app" value="@Loc["Log In"]" onclick="location.href='@Url.Action("Login", "Account")'" />
                <input type="submit" class="btn btn-primary btn-app" id="submit-btn" value="@Loc["Register"]" />
            </div>
        </form>
    </div>
</div>
